parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     todomvc
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    linkedin_client_id:           1000000000000000
    linkedin_client_secret:       ThisTokenIsNotSoSecretChangeIt

    google_client_id:           1000000000000000
    google_client_secret:       ThisTokenIsNotSoSecretChangeIt

    windows_live_client_id:           1000000000000000
    windows_live_client_secret:       ThisTokenIsNotSoSecretChangeIt

    facebook_client_id:           1000000000000000
    facebook_client_secret:       ThisTokenIsNotSoSecretChangeIt

    twitter_client_id:           1000000000000000
    twitter_client_secret:       ThisTokenIsNotSoSecretChangeIt

    github_client_id:           1000000000000000
    github_client_secret:       ThisTokenIsNotSoSecretChangeIt