jms_security_extra:
    secure_all_services: false
    expressions: true

security:

    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        wsse_secured:
            request_matcher: wsse.security.firewall.request_matcher
            wsse:      
                nonces_path: %kernel.cache_dir%/security/nonce
                lifetime: 600
                protected_urls: 
                    - { pattern: ^/todos, methods: [ PUT, POST, DELETE ] }

        main:
            pattern:    ^/
            form_login:
                provider:   fos_userbundle
                login_path: /login
                check_path: /login_check
                # redirect to /todos after login
                always_use_default_target_path: true
                default_target_path: /todos
                #csrf_provider: form.csrf_provider
            logout:
                # redirect to /todos after logout
                target:   /todos
            anonymous:    true
            oauth:
                resource_owners:
                    facebook:        /login/check-facebook
                login_path:          /login
                failure_path:        /login
                default_target_path: /todos

                oauth_user_provider:
                    service: hwi_oauth.user.provider.fosub_bridge

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/todos, role: IS_AUTHENTICATED_ANONYMOUSLY }

    acl:
        provider: propel.security.acl.provider