body{
	padding-top: 60px;
}
fieldset{
	border: none;
}
.content-main{
	border-radius: 6px 6px 6px 6px;
}
.content-header, .stream{
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
.content-header{
	border-bottom-width: 0;
	border-radius: 6px 6px 0 0;    
}
.stream{
	border-top-width: 0;	
	border-radius: 0 0 6px 6px;
	padding: 12px;
}

.header-inner{
	background-color: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    border-radius: 5px 5px 0 0;
    min-height: 20px;
    padding: 12px;
    font-weight: bold;
    font-size: 22px;
}

/* todo app */

#create-todo input {
	width: 99%;
	height: 28px;
	font-size: 24px;
}
#todo-list li {
	/*padding: 12px 20px 11px 0;*/
	position: relative;
	font-size: 24px;
	line-height: 1.1em;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	list-style-type: none;
	}
	#todo-list li label {
		margin-top: 10px;
		height: 25px;
		font-size: 24px;
	}
	#todo-list li:after {
		content: "\0020";
		display: block;
		height: 0;
		clear: both;
		overflow: hidden;
		visibility: hidden;
		}
		#todo-list li .username {
			font-size: 10px;
			text-align: right;
		}
	#todo-list .editing .display, #todo-list .edit {
		display: none;
	}
	#todo-list .editing .edit {
		display: block;
	}
	#todo-list .editing input {
		width: 99%;
		height: 28px;
		font-size: 24px;
		margin-top: 5px;
		margin-left: 15px;
		margin-bottom: 5px;
		padding: 0;
	}
	#todo-list .done .todo-content {
		text-decoration: line-through;
		color: #777777;
	}
	#todo-list .todo-destroy {
		position: absolute;
		right: 5px;
		top: 10px;
		display: none;
		cursor: pointer;
		width: 20px;
		height: 20px;
		background: url(/bundles/mazenovitodomvc/images/destroy.png) no-repeat 0 0;
	}
	#todo-list li:hover .todo-destroy {
		display: block;
	}
	#todo-list .todo-destroy:hover {
		background-position: 0 -20px;
	}

#todo-stats {
	*zoom: 1;
	margin-top: 10px;
	color: #777777;
}

#todo-stats:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
#todo-stats .todo-count {
	float: left;
}