{% extends "MazenoviTodoMVCBundle::list.html.twig" %}

{% block mark_all %}

  {#% if is_granted('ROLE_ADMIN') %#}
      
    <input id="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>

  {#% endif %#}

{% endblock mark_all %}