{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>

{% block html_tag %}
<html>
{% endblock html_tag %}

{% block head %}
<head>
    <meta charset="UTF-8" />

    {% block head_style %}

        <link rel="stylesheet" href="/bundles/mazenovitodomvc/css/all.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    
    {% endblock head_style %}

    {% block head_script %}

        <script src="/bundles/manymulesjquery/js/jquery.min.js"></script>
    
    {% endblock head_script %}

    <title>{% block title %}Backbone.js{% endblock title %}</title>
    
    <link rel="shortcut icon" href="favicon.ico" />
    
    {% block head_bottom %}
    {% endblock head_bottom %}
</head>
{% endblock head %}

{% block body_tag %}
<body data-spy="scroll">
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}

    {% block container %}

    <section id="todoapp">

        <header id="header">
            {{ mopa_bootstrap_navbar('todoNavbar', { 'template': 'MopaBootstrapBundle:Navbar:navbar.html.twig' }) }}
            <h1>{% block content_title %}{% endblock content_title %}</h1>
            {% block new_todo %}{% endblock new_todo %}
        </header>

        {% block error %}{% endblock error %}
    
        <section id="main">
            {% block content %}{% endblock content %}              
            <ul id="todo-list"></ul>
        </section>
        
        <footer id="footer" style="display: none;"></footer>

    </section>

    <footer id="info">
        <p>Double-click to edit a todo</p>
        <p>
            Written by <a href="http://addyosmani.github.com/todomvc/">Addy Osmani</a>,<br />
            Symfonized and Propelized by <a href="http://mazenod.fr/">Vincent Mazenod</a>.
        </p>
    </footer>

    {% endblock container %}

    {% block foot_script %}
    {% endblock foot_script %}

{% endblock body %}
</body>
</html>

